<p>
    Below is the full list of RSS feeds to which you are currently subscribed. Here you have the option to both unsubscribe from a feed, or mark it as a "frontpage" source.
</p>
<table class="u-full-width">
    <thead>
    <tr>
        <th>Name</th>
        <th>Frontpage</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#sources}}
        <tr id={{url}}>
            <td><a href={{url}}>{{sourceName}}</a></td>
            <td>
                <label class="frontpage-checkbox">
                    {{#frontpage}}
                        <input type="checkbox" checked onclick="setFrontpage(this.getAttribute('data-value'), this.getAttribute('data-id'))" id={{guid}} data-value={{url}} data-id={{guid}}>
                    {{/frontpage}}
                    {{^frontpage}}
                        <input type="checkbox" onclick="setFrontpage(this.getAttribute('data-value'), this.getAttribute('data-id'))" id={{guid}} data-value={{url}} data-id={{guid}}>
                    {{/frontpage}}
                    <span class="label-body"></span>
                </label>
            </td>
            <td>
                <label class="unsubscribe-action">
                    <a data-value={{url}} data-name={{sourceName}} onclick="unsubscribe(this.getAttribute('data-value'), this.getAttribute('data-name'))">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </label>
            </td>
        </tr>
    {{/sources}}
    </tbody>
</table>