<p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
    sunt explicabo
</p>
<table class="u-full-width">
    <thead>
    <tr>
        <th>Name</th>
        <th>Frontpage</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#sources}}
        <tr id="{{sourceName}}">
            <td><a href={{url}}>{{sourceName}}</a></td>
            <td>
                <label class="frontpage-checkbox">
                    {{#frontpage}}
                        <input type="checkbox" checked onclick="setFrontpage(this.getAttribute('data-value'))" id={{url}} data-value={{url}}>
                    {{/frontpage}}
                    {{^frontpage}}
                        <input type="checkbox" onclick="setFrontpage(this.getAttribute('data-value'))" id={{url}} data-value={{url}}>
                    {{/frontpage}}
                    <span class="label-body"></span>
                </label>
            </td>
            <td>
                <label class="unsubscribe-action">
                    <a data-name={{sourceName}} data-value={{url}} onclick="unsubscribe(this.getAttribute('data-name'), this.getAttribute('data-value'))">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </label>
            </td>
        </tr>
    {{/sources}}
    </tbody>
</table>