.inactive {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

.navbar-top {
    border: none;
    background-color: #fff;
    font-family: 'Scope One', serif;
    margin-bottom: 5%;
}

#navbar-title a {
    text-decoration: none;
}

#meta-nav {
    float: right;
    font-family: 'Scope One', serif;
    margin-top: 3%;
}
#meta-nav ul {
    list-style: none;
    word-spacing: 20px;
}
#meta-nav li {
    display: inline;
}
#meta-nav a:hover {
    text-decoration: none;
}
#logo-container {}

#content {
    margin-top: 5%;
}

.article-content {
    background-color: #ffffff;
    margin-bottom: 8%;
    border: none;
    box-shadow: none;
}
.title {
    font-family: 'Source Sans Pro', sans-serif;
}
.description {
    font-size: 90%;
    font-family: 'Scope One', serif;
}
.meta {
    font-size: 80%;
    font-family: 'Source Sans Pro', sans-serif;
}
.bookmark {
    float: right;
    padding-left: 2%;
}
.title a:hover {
    text-decoration: none;
    color: #95bff0;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #95bff0;
}

/*side bar nav*/
.sidebar-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
}
.sidebar-nav .fa {
    margin-right: 10px;
}
.separator {
    width: 280px;
    height: 10px;
    position: relative;
    z-index: 1;
}
.separator:before {
    content: "";
    position: absolute;
    left: 27px;
    bottom: 5px;
    height: 1px;
    width: 43%;
    border-bottom: 1px dotted #95bff0;
}

.sidebar-list {
    list-style: none;
}
.sidebar-nav li {
    line-height: 25px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    text-decoration: none;
}

/* Add Feeds*/
textarea#subscribe {
    resize: none;
    border-color:black;
    font-size:12px;

}

.btn-default {
margin-top:10px;
float:right;
border-color:black;
}

#add-description {
font-size:12px;
margin: 30px 0 30px 0;
}

.alt-page {
    font-family: 'Source Sans Pro', sans-serif;
}

.alt-page h3, h4 {
    margin-bottom:30px;
    margin-left: 3%;
}

.alt-page p {
    font-size: 500%;
    margin-left: 3%;
}

.login {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Nav */
.topnav {
    margin-bottom: 12%;
    /*
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    width: 100%;
    margin-bottom: 10%;*/
}

.topnav-links {
    float: right;
    margin: 2% 4% 2% 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    color: #000;
    text-align: center;
    font-size: 90%
}

.topnav-links a {
    padding: 10px 5px;
}

.topnav-links a:hover {
    color: #95bff0;
}

#navbar-title {
    float:left;
    color: #000;
    font-size: 200%;
    font-family: 'Pacifico', cursive;
    margin: 1% 0 1% 4%;
}

.menu_bar ul {
    list-style-type: none;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu_bar li {
    float: left;
    padding-right: 3%;
    font-size: 90%;
}

.menu_bar .fa {
    padding-right: 5px;
}

.menu_tags {

}

#tags {
    display: none;
}

@media (max-width: 48em) {
    .menu_bar {margin-top: 10%}
    .menu_bar ul {padding: 0;}
}

.nowrap {
    white-space: nowrap;
    font-size: 90%;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
    color: #d3d3d3;
}

