{{#articles}}
    <div class="eight columns" id={{url}}>
        <div class="article-content">
            <div class="title">
                <a class="bookmark">
                    {{#bookmark}}
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    {{/bookmark}}
                    {{^bookmark}}
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    {{/bookmark}}
                </a>
                <h6><a href={{url}}>{{title}}</a></h6>
            </div>
            <div class="description">
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    <div class="three columns meta">
        <p><em><a href={{channelUrl}}>{{channelTitle}}</a></em></p>
        <p><em>{{publicationDate}}</em></p>
    </div>
{{/articles}}


