{{#articles}}
    <div class="col-md-8">
        <div class="well well-sm article-content">
            <div class="title">
                <a class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </a>
                <p><a href={{url}}>{{title}}</a></p>
            </div>
            <div class="description">
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="meta well well-sm">
            <p><a href={{channelUrl}}>{{channelTitle}}</a></p>
            <p>{{publicationDate}}</p>
        </div>
    </div>
{{/articles}}